<%= form_for @post, :html => {:class => "form-inline"} do |f| %>
  <% if @post.errors.any? %>
    <div class="form-group" id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
      <%= f.text_field :content, :class => 'form-control ', :placeholder => 'What are you reading now?' %>
  </div>
    <%= f.submit "Go!", :class => "btn btn-lg btn-primary", :type => "submit" %>
<% end %>
