<div class = container>
<p class="col-lg-2 col-lg-offset-2">
<%= render 'form' %>
</p>
<p>
<table class='table'>
    <tr>
      <th>Attachment</th>
      <th>Content</th>
      <th>User</th>
      <th colspan="2"></th>
    </tr>
  
  <tbody>
      <% @posts_by_day.each do |day, posts| %>
      
       <% @posts.each do |post| %>
        <% @user = User.find_by_id(post.user_id) %>
        <tr>
          <td><%= post.created_at.strftime("%B %d, %Y") %></td>
          <td><%= post.attachment %></td>
          <td><%= post.content %></td>
          <td><%= post.user_id %></td>
          <td><%= post.updated_at.strftime("%B %d, %Y") %></td>
          
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td>        
              <%= link_to like_post_path(post),  class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label="Left Align">
                  <span class="glyphicon glyphicon-thumbs-up glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= post.get_upvotes.size %></span>
                </button>
              <% end %>

              <%= link_to dislike_post_path(post), class: "like", method: :put do %>
                <button type="button" class="btn btn-info" aria-label="Left Align"> 
                  <span class="glyphicon glyphicon-thumbs-down glyphicon-align-center" aria-hidden="true"></span>
                  <span class="badge"><%= post.get_downvotes.size %></span>
                </button>  
              <% end %>
          </td>
        </tr>
      <% end %>
      <% end %>
  </tbody>
</table>


<% @posts_by_day.each do |day, posts| %>
      <%= day %>
      <ul>
        <% posts.each do |post| %>
        <li><%= post.content %></li>
        <% end %>
      </ul>
<% end %>



</p>
</div>

<br>
<div class = "container">
<%= link_to 'New Post', new_post_path %>
</div>
